<!-- Toolbar -->
<mat-toolbar color="primary" class="toolbar">
  <span>
    <button mat-mini-fab color="accent">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="title">{{title}}</span>
    <div class="spacer"></div>
    <a id="build" href="github.com" target="_blank">
      <mat-icon [ngStyle]="{'color':'white'}">build</mat-icon>
    </a>
    <div class="spacer-small"></div>
    <a id="home" href="github.com" target="_blank">
      <mat-icon [ngStyle]="{'color':'white'}">home</mat-icon>
    </a>
    <div class="spacer-small"></div>
</mat-toolbar>
<router-outlet></router-outlet>