.schedule-title {
    font-size: larger;
    font-weight: bolder;
    color: #F50057;
}

.scheduled-item {
    font-size: medium;
    font-weight: 800;
}

.scheduled-details {
    margin-left: 6%;
    color: #F50057;
}

.scheduled-category {
    margin-left: 3%;
    font-weight: 500;
}

.scheduled-priority {
    margin-left: 30px;
}

.scheduled-delete {
    float: right;
    color: gray;
}

mat-hint {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-title {
    font-size: larger;
    font-weight: bolder;
    background-color: gray;
    color: #EEFF41;
}

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    display: flex;
  }
  
  p {
    margin: 16px;
  }
  
  .icon-20 {
    font-size: 20px;
  }
  
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    margin: 10px;
    flex-wrap: wrap;
  }
  
  .container [class*='col'] {
    padding: 10px;
    flex: 1;
  }
  
  .mat-card-header-text {
    margin-left: 0;
    border-bottom: 1px solid #ffd740;
  }
  
  .header {
    padding-bottom: 10px;
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    font-size: x-large;
  }
  
  mat-sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    width: 200px;
    padding-top: 10px;
  }
  
  mat-card:not(.dashboard-card) {
    margin-bottom: 20px;
  }
  
  button {
    vertical-align: middle;
    width: 150px;
  }
  
  .mat-sidenav-container {
    background-color: #efefef;
    flex: 1;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 5%;
  }
  
  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15%;
  }
  
  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
  
  .mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 10px;
  }
  
  .main-containers {
    display: flex;
    justify-content: space-around;
  
    .main-list {
      width: 49%;
    }
  
    .main-two-details {
      width: 49%;
      height: 100%;
    }
  }
  mat-list-item:not(:first-of-type) {
    border-top: 1px solid #efefef;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-list-item:hover {
    cursor: pointer;
  }
  
  .symbol {
    color: #777;
  }
  
  mat-card-actions {
    margin-bottom: 0;
  }
  
  .full-width {
    width: 100%;
  }
  
  .nav-link {
    color: rgba(0, 0, 0, 0.54);
    display: flex !important;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  mat-card {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  
    mat-card-header {
      margin-bottom: 10px;
    }
  
    mat-form-field {
      width: 100%;
    }
  }
  
  
  // UI TOOLBAR
  mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;
  
  >.mat-mini-fab {
    margin-right: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .title {
    vertical-align: middle;
    margin-left: 2%;
  }
  
  .logo {
    margin-left: 20px;
  
    img {
      vertical-align: middle;
      width: 100px;
      height: auto;
    }
  }
  }
  
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  